nav { 
  background-color: rgb(0, 69, 139);
  padding: 10px;
  text-align: center; /* Aligns the links to the right */
}

nav a {
   color: white;
   display: inline-block; /* Changed to inline-block for horizontal alignment */
   padding: 20px;
   text-decoration: none; /* Optional: Removes underline from links */
}

h1 {
  color: blue; /* Changed to blue */
}

h2, h3, h4, h5, h6 { /* Added for other headings */
  color:red; /* Changed to blue */
}

img {
    width: 250px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
  padding: 10px;
  color:crimson; /* Changed to red */
}

main {
  max-width: 840px;
}

aside {
  width: 20rem;
  margin:  1rem;
  border:   1px solid rgb(0 0 0 / 0.2);
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}

main img {
  width: 250px;
  height: auto;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}
